<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control name="MecanumDriveSystem" type="system">
        <hardware>
            <plugin>mecanum_drive_arduino/MecanumDriveArduino</plugin>
            <param name="front_left_wheel_name">front_left_wheel_joint</param>
            <param name="front_right_wheel_name">front_right_wheel_joint</param>
            <param name="rear_left_wheel_name">rear_left_wheel_joint</param>
            <param name="rear_right_wheel_name">rear_right_wheel_joint</param>
        </hardware>
        <!--Joint Definitions -->
        <joint name="front_left_wheel_joint">
          <command_interface name="velocity">
            <param name="min">-10</param>
            <param name="max">10</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>

        <joint name="front_right_wheel_joint">
          <command_interface name="velocity">
            <param name="min">-10</param>
            <param name="max">10</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>

        <!-- Rear wheels -->
        <joint name="rear_left_wheel_joint">
          <command_interface name="velocity">
            <param name="min">-10</param>
            <param name="max">10</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>

        <joint name="rear_right_wheel_joint">
          <command_interface name="velocity">
            <param name="min">-10</param>
            <param name="max">10</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>

    </ros2_control>

  <!-- Joint State Broadcaster -->
  <controller name="joint_state_broadcaster" type="joint_state_broadcaster/JointStateBroadcaster"/>
</robot>